<html>
<head>
    <title>index</title>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../deploy/css/index.css" />
    <link type="text/css" rel="stylesheet" href="../deploy/css/cssReset.css">

</head>
<body>

<div id="Title_bar">
    <div id="login_out">
         <a href="login.html">登录</a>
         <a href="login.html">退出</a>        
        </div>
    <div id="Title_bar_Head">         
        <!--页面标题-->
        <div id="Title">&nbsp&nbsp&nbsp主页</div>
        <div id="Title_End"></div>
    </div>
</div>

<div id="Head2">      
		<div id="Head2_FunctionList">
			<marquee style="width: 100%;" onMouseOver="this.stop()" onMouseOut="this.start()" 
				scrollamount=6 scrolldelay=30 direction=left>
				<b>这是一个滚动字幕，用于发布消息通知等</b>
			</marquee>
		</div>
	</div>
	
<!--content-->
<div class="content">
	<ul>
	   <div class="box">
        <li><!--第③个-->
        	<a href="building.html" target="_blank">
			<img src="../deploy/images/icon/index/3.jpg" name="picture">
			<span>ERP入口</span></a>
        </li></div>
        <div class="box">
        <li><!--第⑧个-->
			<a href="building.html" target="_blank">
			<img src="../deploy/images/icon/index/8.png" name="picture">
			<span>仓库管理</span></a>
        </li></div>
	    <div class="box">
    	<li><!--第①个-->
        	<a href="building.html" target="_blank">
			<img src="../deploy/images/icon/index/1.jpg" name="picture" >
			
            <span>员工管理</span></a>
        </li></div>
        <div class="box">
        <li><!--第⑨个-->
        	<a href="building.html" target="_blank">
			<img src="../deploy/images/icon/index/9.png" name="picture">
			<span>订单管理</span></a>
        </li></div>
		<div class="box">
        <li><!--第②个-->
        	<a href="building.html" target="_blank">
			<img src="../deploy/images/icon/index/2.png" name="picture">
			 <span>监控管理</span></a>
        </li></div>
		
		<div class="box">
        <li><!--第④个-->
        	<a href="building.html" target="_blank">
			<img src="../deploy/images/icon/index/4.png" name="picture">
			<span>追溯查询</span></a>
        </li></div>
		<div class="box">
        <li><!--第⑤个-->
        	<a href="building.html" target="_blank">
			<img src="../deploy/images/icon/index/5.png" name="picture">
			<span>生产管理</span></a>
        </li></div>
		<div class="box">
        <li><!--第⑥个-->
        	<a href="equipmentM.html" target="_blank">
			<img src="../deploy/images/icon/index/6.png" name="picture">
			<span>设备管理</span></a>
        </li></div>
		<div class="box">
        <li><!--第⑦个-->
        	<a href="building.html" target="_blank">
			<img src="../deploy/images/icon/index/7.jpg" name="picture">
			<span>品质管理</span></a>
        </li></div>
				
		<div class="box">
        <li><!--第十个-->
        	<a href="building.html" target="_blank">
			<img src="../deploy/images/icon/index/10.png" name="picture">
			<span>远程调用</span></a>
        </li></div>
		<div class="box">
        <li><!--第十一个-->
        	<a href="building.html" target="_blank">
			<img src="../deploy/images/icon/index/11.jpg" name="picture">
			<span>系统设置</span></a>
        </li></div>
		<div class="box">
        <li><!--第十二个-->
        	<a href="building.html" target="_blank">
			<img src="../deploy/images/icon/index/12.jpg" name="picture">
			<span>系统维护</span></a>
        </li></div>
    </ul>
</div>

<!--footer-->
<div class="footer">
  <div class="footer_main">	
    <div class="footer_main_right">		
				<a href="">关于天蓝</a><a href="">开发团队</a><a href="">帮助中心</a><a href="">天蓝学院</a><a href="">在线留言</a><a href="">客服中心</a>

       	 	</div>	
       	</div>		
	</div>
</body>
</html>
